{% if site.dribbble %}<a href="https://dribbble.com/{{ site.dribbble }}" class="color-icon" title="Dribbble"><i class="fa fa-dribbble"></i></a>{% endif %}
{% if site.email %}<a href="mailto:{{ site.email }}" class="color-icon"><i class="fa fa-envelope" title="Email"></i></a>{% endif %}
{% if site.facebook %}<a href="https://www.facebook.com/{{ site.facebook }}" class="color-icon" title="Facebook"><i class="fa fa-facebook"></i></a>{% endif %}
{% if site.flickr %}<a href="https://www.flickr.com/{{ site.flickr }}" class="color-icon" title="Flickr"><i class="fa fa-flickr"></i></a>{% endif %}
{% if site.github %}<a href="https://github.com/{{ site.github }}" class="color-icon" title="Github"><i class="fa fa-github"></i></a>{% endif %}
{% if site.instagram %}<a href="https://instagram.com/{{ site.instagram }}" class="color-icon" title="Instagram"><i class="fa fa-instagram"></i></a>{% endif %}
{% if site.linkedin %}<a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="color-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>{% endif %}
{% if site.pinterest %}<a href="https://www.pinterest.com/{{ site.pinterest }}" class="color-icon" title="Pinterest"><i class="fa fa-pinterest"></i></a>{% endif %}
{% if site.rss %}<a href="{{ site.baseurl }}/feed.xml" class="color-icon"><i class="fa fa-rss" title="RSS"></i></a>{% endif %}
{% if site.twitter %}<a href="https://www.twitter.com/{{ site.twitter }}" class="color-icon" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
{% if site.stackoverflow %}<a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" class="color-icon" title="StacKoverflow"><i class="fa fa-stack-overflow"></i></a>{% endif %}
{% if site.youtube %}<a href="https://youtube.com/{{ site.youtube }}" class="color-icon"><i class="fa fa-youtube" title="YouTube"></i></a>{% endif %}
{% if site.googleplus %}<a href="https://plus.google.com/{{ site.googleplus }}" class="color-icon"><i class="fa fa-fa-google-plus-official" title="Google Plus"></i></a>{% endif %}
{% if site.pgp %}<a href="{{ site.pgp }}" class="color-icon"><i class="fa fa-key" title="PGP Key"></i></a>{% endif %}
