---
layout: default
---
<div class="{% if site.left_bar %} col-lg-8 {% else %} col-lg-offset-1 col-lg-10 {% endif %} col-md-12 col-sm-12 col-xs-12">
  <div class="row">
      {% for category in site.categories %}
        {% if category[0] == page.category %}
          <div class="col-md-12">
              <ul class="hidden-xs list-inline">
                  <li><h4><a href="{{ site.url }}{{ site.baseurl }}/">Home</a> / {{ category | first }} </h4></li>
                  <li style="width: 75%;float: right;"><hr></li>
              </ul>
              <h4 class="hidden-sm hidden-md hidden-lg">{{ category | first }}</h4>
          </div>
          <div class="row">
              <div class="col-md-12">
                  {% for posts in category %}
                      {% for post in posts limit: 6 %}
                          {% if post.lang != nil %}
                              
                                  <a class="link-grid" href="{{ site.baseurl }}{{ post.url }}">
                                      <div class="col-md-4 col-sm-6 col-xs-12">
                                          <h5>{{ post.title }}{% if post.sticky %} <i class="fa fa-star"></i> {% endif %}

                                          {% if post.github == nil %}
                                              <div class="pull-right">{{ post.lang }}</div>
                                          {% else %}
                                              <div class="pull-right"><i class="fa fa-github"></i></div>
                                          {% endif %}

                                          </h5>
                                          <p class="contributor"><small>{{ post.description }}</small></p>
                                      </div>
                                  </a>
                              
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
              </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
</div>